<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      {{{get_emoji}}}
      <a href="/post/{{post.id}}">{{post.title}}</a>
    </h2>
    
    <p>Created by {{post.author}} </p>
  </div>
  <div class="col-md-7">
    <h4>
      {{post.description}}
    </h4>
    <p>Body: {{post.body}}</p>
  
  </div>
</div>